h1{text-align:center;}
#paragraph1{text-align:center;
}
body{background-color:#E4F1FE;}
img{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
#title{text-align:center}
table{margin-left:auto;
margin-right:auto;}

